body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-box {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2vh;
}

#searchbar {
  height: 3vh;
  width: 50vw;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #333;
}

#inner-box {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1vh;
}

button {
  flex: auto;
  border: 0;
  border-radius: 5px;
  width: 12vw;
  height: 12vh;
  color: #fff;
  background-color: #333;
}
